# Primeira etapa do desafio

1.	Realize a extração dos dados dos 3 ultimos meses de prescrição (english-prescribing-data-epd) sem contar o ultimo, fonte: https://opendata.nhsbsa.net/dataset/english-prescribing-data-epd

## Mês de Julho
- Por se tratar de uma grande massa de dados, optei por fazer o processamento individualmente por mês em cada notebook.
- Tambem por esse motivo optei por fazer todo o armazemento e excução na minha maquina local, para evitar problemas de custos extras pelo volume de dados armazenados e processados

---

### Fazendo as importações dos frameworks/metodos necessarios para executar as funções do jupyter

In [1]:
import pandas as pd
import pyspark.sql.functions as func

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'E:\\spark-3.3.1-bin-hadoop3'

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [3]:
spark = SparkSession.builder.getOrCreate()

### Criando o DF principal:
- Aqui optei por deixar comentado a amostra da visualização dos dados no Spark, pois pelo tamanho massivo do DF, a representação não estava satisfatoria ao meu ver. Mais a baixo ultilizarei o pandas como alternativa.

In [5]:
df_spark = spark.read.csv(r'C:\Users\arthu\Desktop\EPD_202207.csv', sep = ',', inferSchema=True, header=True)
# df_spark.show(10)

### Conseguindo a importação pela API
- Alternativa de importação dos dados usando API, pois a fornecida pelo site não foi compativel para mim.

In [5]:
#import urllib.request

#url = 'https://opendata.nhsbsa.net/dataset/65050ec0-5abd-48ce-989d-defc08ed837e/resource/bc3cb910-f841-47e0-9fb6-203d141c57d6/download/epd_202208.csv'  
#fileobj = urllib.request.urlopen(url)

#for linha in fileobj:
#    print(linha)
#    break

### Obtendo as informações necessarias da importação realizada :
- Concluindo a validação dos dados extraídos

In [6]:
print("Total de linhas: ", df_spark.count(),"\n" # Conferindo se todas as linhas foram importadas por completo
      "Total de colunas: ", len(df_spark.columns)) # Numero de colunas
df_spark.printSchema() # Conferindo o nome das colunas para consulta

Total de linhas:  17604125
Total de colunas:  26
root
 |-- YEAR_MONTH: integer (nullable = true)
 |-- REGIONAL_OFFICE_NAME: string (nullable = true)
 |-- REGIONAL_OFFICE_CODE: string (nullable = true)
 |-- ICB_NAME: string (nullable = true)
 |-- ICB_CODE: string (nullable = true)
 |-- PCO_NAME: string (nullable = true)
 |-- PCO_CODE: string (nullable = true)
 |-- PRACTICE_NAME: string (nullable = true)
 |-- PRACTICE_CODE: string (nullable = true)
 |-- ADDRESS_1: string (nullable = true)
 |-- ADDRESS_2: string (nullable = true)
 |-- ADDRESS_3: string (nullable = true)
 |-- ADDRESS_4: string (nullable = true)
 |-- POSTCODE: string (nullable = true)
 |-- BNF_CHEMICAL_SUBSTANCE: string (nullable = true)
 |-- CHEMICAL_SUBSTANCE_BNF_DESCR: string (nullable = true)
 |-- BNF_CODE: string (nullable = true)
 |-- BNF_DESCRIPTION: string (nullable = true)
 |-- BNF_CHAPTER_PLUS_CODE: string (nullable = true)
 |-- QUANTITY: double (nullable = true)
 |-- ITEMS: integer (nullable = true)
 |-- TOTAL_QUANTITY: double (nullable = true)
 |-- ADQUSAGE: double (nullable = true)
 |-- NIC: double (nullable = true)
 |-- ACTUAL_COST: double (nullable = true)
 |-- UNIDENTIFIED: string (nullable = true)

## Começando os tratamentos:
## 4.	Após a coleta dos dados, separe os dados entre prescribers e prescriptions.

### Prescribers / Prescritores
- Separando o df_spark em Prescribers e as colunas que considerei está relacionado na leitura da documentação.
- Como ultilizarei o pandas e estava tendo problemas com a memoria para processamento, limitei apenas para uma amostra de 150000 linhas
> Prescribers (Prescritores) = PRACTICE_NAME

In [7]:
df_prescribers = df_spark.select("YEAR_MONTH",
                                 "PRACTICE_NAME",
                                 "REGIONAL_OFFICE_NAME",
                                 "ICB_NAME",
                                 "PCO_NAME"
# Aqui tive que optar com limitar a quantidade de linhas, pois ao ultilizar o pandas para salvar o df estava estourando a memoria                                 
                                 ).limit(150000)

df_prescribers.show(50)

+----------+--------------------+--------------------+--------------------+--------------------+
|YEAR_MONTH|       PRACTICE_NAME|REGIONAL_OFFICE_NAME|            ICB_NAME|            PCO_NAME|
+----------+--------------------+--------------------+--------------------+--------------------+
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|   RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR WALJI AND COLL...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR WALJI AND COLL...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR WALJI AND COLL...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR WALJI AND COLL...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
|    202207|DR SN CLAY AND PA...|            MIDLANDS|NHS BIRMINGHAM AN...|NHS BIRMINGHAM AN...|
+----------+--------------------+--------------------+--------------------+--------------------+
only showing top 50 rows

### Prescriptions / Prescrições
- Separando o df_spark em Prescriptions e as colunas que considerei está relacionado na leitura da documentação.
- Amostra limitada 200000 linhas.
> Prescriptions (Prescrições) = BNF_DESCRIPTION

In [8]:
df_prescriptions = df_spark.select("YEAR_MONTH",
                                   "BNF_DESCRIPTION",
                                   "CHEMICAL_SUBSTANCE_BNF_DESCR",
                                   "QUANTITY",
                                   "ITEMS",
                                   "TOTAL_QUANTITY",
                                   "NIC",
                                   "ACTUAL_COST"
# Mais uma vez limitando a quantidade de linhas por conta da memoria
                                   ).limit(200000)


df_prescriptions.show(50)

+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
|YEAR_MONTH|     BNF_DESCRIPTION|CHEMICAL_SUBSTANCE_BNF_DESCR|QUANTITY|ITEMS|TOTAL_QUANTITY|   NIC|ACTUAL_COST|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
|    202207|Simpla G-Strap adult|        Tubing And Access...|     5.0|    1|           5.0| 15.23|   14.24062|
|    202207|Salts adhesive re...|        Adhesive Removers...|   100.0|    7|         700.0| 97.86|   91.50275|
|    202207|Salts adhesive re...|        Adhesive Removers...|   350.0|    1|         350.0| 48.93|   45.75137|
|    202207|Salts adhesive re...|        Adhesive Removers...|   150.0|    1|         150.0| 20.97|   19.60773|
|    202207|Salts adhesive re...|        Adhesive Removers...|    50.0|    1|          50.0|  6.99|    6.53591|
|    202207|Salts adhesive re...|        Adhesive Removers...|   200.0|    2|         400.0| 55.92|   52.28728|
|    202207|Peel-Easy medical...|        Adhesive Removers...|    50.0|    2|         100.0| 14.36|   13.42714|
|    202207|Peel-Easy medical...|        Adhesive Removers...|   150.0|    1|         150.0| 21.54|    20.1407|
|    202207|SenSura Mio colos...|              Colostomy Bags|    60.0|    1|          60.0|187.18|  175.02027|
|    202207|SenSura Mio Conca...|              Ileostomy Bags|    30.0|    1|          30.0|143.82|  134.47706|
|    202207|Salts barrier fil...|        Skin Fillers And ...|    30.0|    1|          30.0| 16.78|   15.68993|
|    202207|Proshield Foam & ...|        Skin Fillers And ...|   235.0|    1|         235.0|   6.7|    6.27715|
|    202207|Proshield Plus sk...|        Skin Fillers And ...|   115.0|    2|         230.0| 20.16|   18.86275|
|    202207|       Orabase paste|        Skin Fillers And ...|    30.0|    1|          30.0|  2.26|    2.12558|
|    202207|   Stomahesive paste|        Skin Fillers And ...|    60.0|    1|          60.0|  8.17|    7.63925|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|    30.0|    1|          30.0| 38.03|   35.55947|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|   120.0|    1|         120.0|152.12|  142.23787|
|    202207|Salts Aloe ring 32mm|             Skin Protectors|    30.0|    2|          60.0| 76.06|   71.11893|
|    202207|Salts mouldable s...|             Skin Protectors|    30.0|    2|          60.0|106.48|   99.56277|
|    202207|SenSura Click two...|        Two Piece Ostomy ...|    30.0|    2|          60.0|107.66|  100.66611|
|    202207|SenSura Click Sof...|        Two Piece Ostomy ...|    25.0|    2|          50.0| 211.2|  197.47987|
|    202207|Sodium algin 500m...|        Alginic acid comp...|   500.0|    1|         500.0|  5.12|    4.79979|
|    202207|Peptac liquid ani...|        Alginic acid comp...|   500.0|    5|        2500.0|  9.95|    9.36562|
|    202207|Peptac liquid ani...|        Alginic acid comp...|  1000.0|    2|        2000.0|  7.96|     7.4677|
|    202207|Peptac liquid pep...|        Alginic acid comp...|  1000.0|    4|        4000.0| 15.92|   14.93539|
|    202207|Peptac liquid pep...|        Alginic acid comp...|   150.0|    1|         150.0|   0.6|    0.67342|
|    202207|Peptac liquid pep...|        Alginic acid comp...|   500.0|    9|        4500.0| 17.91|   16.83332|
|    202207|Peppermint oil 0....|              Peppermint oil|   168.0|    1|         168.0| 14.08|   13.17772|
|    202207|Peppermint oil 0....|              Peppermint oil|    84.0|    1|          84.0|  7.04|    6.59506|
|    202207|Propantheline bro...|        Propantheline bro...|   112.0|    1|         112.0| 20.74|   19.40507|
|    202207|Omeprazole 20mg g...|                  Omeprazole|     7.0|    4|          28.0|  0.84|    1.23503|
|    202207|Omeprazole 20mg g...|                  Omeprazole|    28.0|  249|        6972.0|209.16|  197.99039|
|    202207|Omeprazole 20mg g...|                  Omeprazole|    84.0|    3|         252.0|  7.56|    7.10608|
|    202207|Omeprazole 20mg g...|                  Omeprazole|    56.0|  141|        7896.0|236.88|  222.95483|
|    202207|Omeprazole 20mg g...|                  Omeprazole|   112.0|    7|         784.0| 23.52|   22.07888|
|    202207|Omeprazole 40mg g...|                  Omeprazole|    28.0|    3|          84.0|   7.8|    7.31809|
|    202207|Omeprazole 40mg g...|                  Omeprazole|    56.0|    2|         112.0|  10.4|    9.72439|
|    202207|Omeprazole 10mg g...|                  Omeprazole|    28.0|   13|         364.0| 11.05|   10.45616|
|    202207|Omeprazole 10mg g...|                  Omeprazole|    56.0|    3|         168.0|   5.1|    4.79349|
|    202207|Omeprazole 10mg g...|                  Omeprazole|   112.0|    1|         112.0|   3.4|    3.19153|
|    202207|VaPro Pocket hydr...|                   Catheters|    90.0|    1|          90.0|166.47|  155.65565|
|    202207|SpeediCath Compac...|                   Catheters|   180.0|    1|         180.0|295.56|  276.37201|
|    202207|SpeediCath Compac...|                   Catheters|    60.0|    1|          60.0|107.56|  100.57261|
|    202207|iQ Cath integrate...|                   Catheters|    90.0|    1|          90.0|146.49|  136.97361|
|    202207|Compression hosie...|             Elastic Hosiery|     2.0|    1|           2.0|  8.02|     7.5114|
|    202207|Compression hosie...|             Elastic Hosiery|     4.0|    1|           4.0| 17.56|   16.43165|
|    202207|Compression hosie...|             Elastic Hosiery|     2.0|    1|           2.0| 11.73|   10.98039|
|    202207|Cathejell Lidocai...|              Lubricant Gels|    25.0|    1|          25.0|   2.6|     2.4435|
|    202207|Sodium chloride 0...|        Irrigation Solutions|    25.0|   23|         575.0| 135.7|  127.14496|
|    202207|Sodium chloride 0...|        Irrigation Solutions|    50.0|    1|          50.0| 10.14|    9.49368|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
only showing top 50 rows

#### Extra:
- Fazendo o fatiamento da coluna 
> YEAR_MONTH em YEAR e MONTH
- Posteriormente vi que não seria necessario a ultilização.

In [9]:
df_YEAR_MONTH_split = df_prescriptions.withColumn('YEAR', func.substring('YEAR_MONTH',1,4))\
.withColumn('MONTH',func.substring('YEAR_MONTH',5,2))

df_YEAR_MONTH_split.show()

+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+----+-----+
|YEAR_MONTH|     BNF_DESCRIPTION|CHEMICAL_SUBSTANCE_BNF_DESCR|QUANTITY|ITEMS|TOTAL_QUANTITY|   NIC|ACTUAL_COST|YEAR|MONTH|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+----+-----+
|    202207|Simpla G-Strap adult|        Tubing And Access...|     5.0|    1|           5.0| 15.23|   14.24062|2022|   07|
|    202207|Salts adhesive re...|        Adhesive Removers...|   100.0|    7|         700.0| 97.86|   91.50275|2022|   07|
|    202207|Salts adhesive re...|        Adhesive Removers...|   350.0|    1|         350.0| 48.93|   45.75137|2022|   07|
|    202207|Salts adhesive re...|        Adhesive Removers...|   150.0|    1|         150.0| 20.97|   19.60773|2022|   07|
|    202207|Salts adhesive re...|        Adhesive Removers...|    50.0|    1|          50.0|  6.99|    6.53591|2022|   07|
|    202207|Salts adhesive re...|        Adhesive Removers...|   200.0|    2|         400.0| 55.92|   52.28728|2022|   07|
|    202207|Peel-Easy medical...|        Adhesive Removers...|    50.0|    2|         100.0| 14.36|   13.42714|2022|   07|
|    202207|Peel-Easy medical...|        Adhesive Removers...|   150.0|    1|         150.0| 21.54|    20.1407|2022|   07|
|    202207|SenSura Mio colos...|              Colostomy Bags|    60.0|    1|          60.0|187.18|  175.02027|2022|   07|
|    202207|SenSura Mio Conca...|              Ileostomy Bags|    30.0|    1|          30.0|143.82|  134.47706|2022|   07|
|    202207|Salts barrier fil...|        Skin Fillers And ...|    30.0|    1|          30.0| 16.78|   15.68993|2022|   07|
|    202207|Proshield Foam & ...|        Skin Fillers And ...|   235.0|    1|         235.0|   6.7|    6.27715|2022|   07|
|    202207|Proshield Plus sk...|        Skin Fillers And ...|   115.0|    2|         230.0| 20.16|   18.86275|2022|   07|
|    202207|       Orabase paste|        Skin Fillers And ...|    30.0|    1|          30.0|  2.26|    2.12558|2022|   07|
|    202207|   Stomahesive paste|        Skin Fillers And ...|    60.0|    1|          60.0|  8.17|    7.63925|2022|   07|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|    30.0|    1|          30.0| 38.03|   35.55947|2022|   07|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|   120.0|    1|         120.0|152.12|  142.23787|2022|   07|
|    202207|Salts Aloe ring 32mm|             Skin Protectors|    30.0|    2|          60.0| 76.06|   71.11893|2022|   07|
|    202207|Salts mouldable s...|             Skin Protectors|    30.0|    2|          60.0|106.48|   99.56277|2022|   07|
|    202207|SenSura Click two...|        Two Piece Ostomy ...|    30.0|    2|          60.0|107.66|  100.66611|2022|   07|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+----+-----+
only showing top 20 rows

## 5. Persista os dados da forma que achar melhor:
- Dados persistidos no formado CSV

### Usando o pandas para salvar os DFs de 'Prescriptions' e 'Prescribers'

In [10]:
df_prescriptions.toPandas().to_csv('Warehouse/Mes_07/df_prescriptions.csv', index=False)

df_prescribers.toPandas().to_csv('Warehouse/Mes_07/df_prescribers.csv', index=False)

### Conferindo se os arquivos foram corretamente exportados e armazenados

In [11]:
# Lendo a amostra dos arquivos 
df_check_prescriptions = spark.read.csv(r'Warehouse/Mes_07/df_prescriptions.csv', sep = ',', inferSchema=True, header=True)

df_check_prescriptions.show()

+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
|YEAR_MONTH|     BNF_DESCRIPTION|CHEMICAL_SUBSTANCE_BNF_DESCR|QUANTITY|ITEMS|TOTAL_QUANTITY|   NIC|ACTUAL_COST|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
|    202207|Simpla G-Strap adult|        Tubing And Access...|     5.0|    1|           5.0| 15.23|   14.24062|
|    202207|Salts adhesive re...|        Adhesive Removers...|   100.0|    7|         700.0| 97.86|   91.50275|
|    202207|Salts adhesive re...|        Adhesive Removers...|   350.0|    1|         350.0| 48.93|   45.75137|
|    202207|Salts adhesive re...|        Adhesive Removers...|   150.0|    1|         150.0| 20.97|   19.60773|
|    202207|Salts adhesive re...|        Adhesive Removers...|    50.0|    1|          50.0|  6.99|    6.53591|
|    202207|Salts adhesive re...|        Adhesive Removers...|   200.0|    2|         400.0| 55.92|   52.28728|
|    202207|Peel-Easy medical...|        Adhesive Removers...|    50.0|    2|         100.0| 14.36|   13.42714|
|    202207|Peel-Easy medical...|        Adhesive Removers...|   150.0|    1|         150.0| 21.54|    20.1407|
|    202207|SenSura Mio colos...|              Colostomy Bags|    60.0|    1|          60.0|187.18|  175.02027|
|    202207|SenSura Mio Conca...|              Ileostomy Bags|    30.0|    1|          30.0|143.82|  134.47706|
|    202207|Salts barrier fil...|        Skin Fillers And ...|    30.0|    1|          30.0| 16.78|   15.68993|
|    202207|Proshield Foam & ...|        Skin Fillers And ...|   235.0|    1|         235.0|   6.7|    6.27715|
|    202207|Proshield Plus sk...|        Skin Fillers And ...|   115.0|    2|         230.0| 20.16|   18.86275|
|    202207|       Orabase paste|        Skin Fillers And ...|    30.0|    1|          30.0|  2.26|    2.12558|
|    202207|   Stomahesive paste|        Skin Fillers And ...|    60.0|    1|          60.0|  8.17|    7.63925|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|    30.0|    1|          30.0| 38.03|   35.55947|
|    202207|Salts Aloe ring 25mm|             Skin Protectors|   120.0|    1|         120.0|152.12|  142.23787|
|    202207|Salts Aloe ring 32mm|             Skin Protectors|    30.0|    2|          60.0| 76.06|   71.11893|
|    202207|Salts mouldable s...|             Skin Protectors|    30.0|    2|          60.0|106.48|   99.56277|
|    202207|SenSura Click two...|        Two Piece Ostomy ...|    30.0|    2|          60.0|107.66|  100.66611|
+----------+--------------------+----------------------------+--------+-----+--------------+------+-----------+
only showing top 20 rows

In [12]:
# Lendo a amostra dos arquivos
df_check_prescribers = spark.read.csv(r'Warehouse/Mes_07/df_prescribers.csv', sep = ',', inferSchema=True, header=True)

df_check_prescribers.show()

+----------+-----------------+--------------------+--------------------+--------------------+
|YEAR_MONTH|    PRACTICE_NAME|REGIONAL_OFFICE_NAME|            ICB_NAME|            PCO_NAME|
+----------+-----------------+--------------------+--------------------+--------------------+
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
|    202207|RIPON SPA SURGERY|NORTH EAST AND YO...|NHS HUMBER AND NO...|NHS HUMBER AND NO...|
+----------+-----------------+--------------------+--------------------+--------------------+
only showing top 20 rows

## 6. Gere scripts que atendam as solicitações abaixo:

- Aqui optei por ultilizar SQL por ter maior dominio, ao invez de mesclar com o PySpark.

#### Criando a View que ultilizarei nas consultas SQL:

In [13]:
df_spark.createOrReplaceTempView("query")

### 1º Query:
- a. Crie um dataframe contendo os 10 principais produtos químicos prescritos por região.

In [14]:
df_query1_sql = spark.sql("""
with quimico as(
    SELECT 
        REGIONAL_OFFICE_NAME as Regiao,
        CHEMICAL_SUBSTANCE_BNF_DESCR as Substancia,
        sum(TOTAL_QUANTITY) as Total
    FROM query
    GROUP BY 1,2),
top10 as (
    select *,
    row_number() over (partition by Regiao order by Total desc, Substancia ) as rank
    from quimico)

select Rank,
       Regiao,
       Substancia,
       Total
from top10
where rank <= 10
order by Regiao, Total desc;
""")

#### Setando valores float sem notação científica
- Por padrão o pandas vem com notação cientifica. Para uma melhor visualização, optei por alterar

In [15]:
pd.options.display.float_format = '{:.2f}'.format

### Extra:
> Como já informei anteriormente, não gosto da visualização com o pyspark, por ser tratar de um DF relativamente pequeno, optei por utilizar o pandas.

Mas para esse caso achei interessante mostrar todas as linhas com o spark para observer a coluna "Rank"

In [16]:
# Conta todas as linhas contidas na query
all_lines = df_query1_sql.count() 

# Imprime as linhas resultantes
df_query1_sql.show(all_lines)

+----+--------------------+--------------------+------------+
|Rank|              Regiao|          Substancia|       Total|
+----+--------------------+--------------------+------------+
|   1|     EAST OF ENGLAND|   Enteral nutrition|1.92697545E8|
|   2|     EAST OF ENGLAND|          Emollients| 3.9365263E7|
|   3|     EAST OF ENGLAND|Other food for sp...| 2.5073579E7|
|   4|     EAST OF ENGLAND|Metformin hydroch...| 1.9347932E7|
|   5|     EAST OF ENGLAND|         Paracetamol| 1.8850837E7|
|   6|     EAST OF ENGLAND|        Atorvastatin| 1.7490581E7|
|   7|     EAST OF ENGLAND|Other emollient p...| 1.6880336E7|
|   8|     EAST OF ENGLAND|Co-codamol (Codei...| 1.5018065E7|
|   9|     EAST OF ENGLAND|Alginic acid comp...| 1.3208793E7|
|  10|     EAST OF ENGLAND|Levothyroxine sodium| 1.2699041E7|
|   1|              LONDON|   Enteral nutrition|2.91761025E8|
|   2|              LONDON|          Emollients| 6.9710518E7|
|   3|              LONDON|Other emollient p...| 3.1968345E7|
|   4|              LONDON|Metformin hydroch...| 3.1618795E7|
|   5|              LONDON|Other food for sp...| 2.6674263E7|
|   6|              LONDON|        Atorvastatin| 2.0326668E7|
|   7|              LONDON|Methadone hydroch...| 1.7329724E7|
|   8|              LONDON|Alginic acid comp...| 1.6570847E7|
|   9|              LONDON|         Paracetamol| 1.5864569E7|
|  10|              LONDON|          Amlodipine| 1.4623932E7|
|   1|            MIDLANDS|   Enteral nutrition|4.25550066E8|
|   2|            MIDLANDS|          Emollients|  8.261475E7|
|   3|            MIDLANDS|Other food for sp...| 5.8287559E7|
|   4|            MIDLANDS|         Paracetamol| 4.5540371E7|
|   5|            MIDLANDS|Other emollient p...| 4.5387566E7|
|   6|            MIDLANDS|Metformin hydroch...| 3.6164799E7|
|   7|            MIDLANDS|Alginic acid comp...| 3.5980265E7|
|   8|            MIDLANDS|Co-codamol (Codei...| 3.3527097E7|
|   9|            MIDLANDS|        Atorvastatin| 3.0520115E7|
|  10|            MIDLANDS|           Lactulose| 2.6616215E7|
|   1|NORTH EAST AND YO...|   Enteral nutrition|3.15557391E8|
|   2|NORTH EAST AND YO...|          Emollients| 6.0695044E7|
|   3|NORTH EAST AND YO...|Other food for sp...| 4.7879066E7|
|   4|NORTH EAST AND YO...|         Paracetamol| 4.5454066E7|
|   5|NORTH EAST AND YO...|Alginic acid comp...| 4.2527279E7|
|   6|NORTH EAST AND YO...|Other emollient p...| 3.3839083E7|
|   7|NORTH EAST AND YO...|Metformin hydroch...| 2.6845186E7|
|   8|NORTH EAST AND YO...|        Atorvastatin| 2.6386659E7|
|   9|NORTH EAST AND YO...|Methadone hydroch...| 2.3540248E7|
|  10|NORTH EAST AND YO...|Co-codamol (Codei...|  2.155358E7|
|   1|          NORTH WEST|   Enteral nutrition|3.51184419E8|
|   2|          NORTH WEST|          Emollients| 4.6612845E7|
|   3|          NORTH WEST|Other emollient p...| 3.9373124E7|
|   4|          NORTH WEST|Other food for sp...|  3.498065E7|
|   5|          NORTH WEST|Alginic acid comp...| 3.1100892E7|
|   6|          NORTH WEST|         Paracetamol| 2.9671816E7|
|   7|          NORTH WEST|Co-codamol (Codei...| 2.7381276E7|
|   8|          NORTH WEST|Metformin hydroch...| 2.2540404E7|
|   9|          NORTH WEST|        Atorvastatin| 2.0568294E7|
|  10|          NORTH WEST|           Lactulose| 1.9596437E7|
|   1|          SOUTH EAST|   Enteral nutrition|2.64684499E8|
|   2|          SOUTH EAST|          Emollients|  5.361319E7|
|   3|          SOUTH EAST|Other food for sp...| 3.8558885E7|
|   4|          SOUTH EAST|Methadone hydroch...| 3.3796632E7|
|   5|          SOUTH EAST|         Paracetamol| 2.5845493E7|
|   6|          SOUTH EAST|Other emollient p...|  2.513145E7|
|   7|          SOUTH EAST|Metformin hydroch...| 2.4930831E7|
|   8|          SOUTH EAST|        Atorvastatin|  2.174583E7|
|   9|          SOUTH EAST|          Omeprazole|  1.904957E7|
|  10|          SOUTH EAST|Co-codamol (Codei...| 1.8758252E7|
|   1|          SOUTH WEST|   Enteral nutrition|1.19987497E8|
|   2|          SOUTH WEST|          Emollients| 4.0055717E7|
|   3|          SOUTH WEST|         Paracetamol| 2.5884013E7|
|   4|          SOUTH WEST|Other food for sp...| 1.7315058E7|
|   5|          SOUTH WEST|Other emollient p...|  1.577401E7|
|   6|          SOUTH WEST|          Omeprazole| 1.5722257E7|
|   7|          SOUTH WEST|        Atorvastatin| 1.5632573E7|
|   8|          SOUTH WEST|Alginic acid comp...| 1.5284991E7|
|   9|          SOUTH WEST|Metformin hydroch...| 1.5029085E7|
|  10|          SOUTH WEST|Co-codamol (Codei...|  1.296328E7|
|   1|        UNIDENTIFIED|   Enteral nutrition|   1025493.0|
|   2|        UNIDENTIFIED|          Emollients|    136881.0|
|   3|        UNIDENTIFIED|Other food for sp...|    121145.0|
|   4|        UNIDENTIFIED|Methadone hydroch...|    110161.0|
|   5|        UNIDENTIFIED|Other emollient p...|     75227.0|
|   6|        UNIDENTIFIED|Phenoxymethylpeni...|     54524.0|
|   7|        UNIDENTIFIED|         Amoxicillin|     52710.0|
|   8|        UNIDENTIFIED|           Catheters|     41905.0|
|   9|        UNIDENTIFIED|Co-codamol (Codei...|     40106.0|
|  10|        UNIDENTIFIED|Catheter Maintena...|     32200.0|
+----+--------------------+--------------------+------------+

#### Retirando o limitador maximo de linhas (Doido pra quebrar  o pandas kkkk)
- pd.set_option('display.max_rows', None)

#### Não fico muito interessante no github ( Muitas linhas para descer, então resetei para o padrão kkk)
- pd.reset_option('^display.', silent=True)

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento
- No resultado da query optei por mostrar um "Rank" para oferecer mais clareza nos dados coletados

In [17]:
df_query1_sql.toPandas().to_csv('Warehouse/Mes_07/df_query1_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_07/df_query1_sql.csv')

,Rank,Regiao,Substancia,Total
0,1,EAST OF ENGLAND,Enteral nutrition,192697545.00
1,2,EAST OF ENGLAND,Emollients,39365263.00
2,3,EAST OF ENGLAND,Other food for special diet preparations,25073579.00
3,4,EAST OF ENGLAND,Metformin hydrochloride,19347932.00
4,5,EAST OF ENGLAND,Paracetamol,18850837.00
...,...,...,...,...
75,6,UNIDENTIFIED,Phenoxymethylpenicillin (Penicillin V),54524.00
76,7,UNIDENTIFIED,Amoxicillin,52710.00
77,8,UNIDENTIFIED,Catheters,41905.00
78,9,UNIDENTIFIED,Co-codamol (Codeine phosphate/paracetamol),40106.00
79,10,UNIDENTIFIED,Catheter Maintenance Products,32200.00

### 2º query
- b. Quais produtos químicos prescritos tiveram a maior somatória de custos por mês? Liste os 10 primeiros.
- Os custos são dados em Libras esterlinas (£)
- Com mais tempo seria interessante implementa um web scraping para converter em R$ pela cotação do dia.

In [18]:
df_query2_sql = spark.sql("""
with principal as(
    SELECT 
        YEAR_MONTH as ano_mes,
        CHEMICAL_SUBSTANCE_BNF_DESCR as Substancia,
        round(sum(NIC),2) as Total
    FROM query
    GROUP BY 1,2),
top10 as (
    select *,
    row_number() over (partition by ano_mes order by Total desc, Substancia ) as rank
    from principal)

select Rank,
       ano_mes,
       Substancia,
       Total
from top10
where rank <= 10
order by ano_mes, Total desc;
""")

In [19]:
# Mostrando como seria a visualização pelo PySpark
#df_query2_sql.show()

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [20]:
df_query2_sql.toPandas().to_csv('Warehouse/Mes_07/df_query2_sql.csv', index=False)
pd.read_csv('df_query2_sql.csv')

   Rank  ano_mes                                Substancia       Total
0     1   202208                                  Apixaban 36826136.54
1     2   202208                         Enteral nutrition 27234545.33
2     3   202208                Beclometasone dipropionate 25686965.16
3     4   202208                               Rivaroxaban 20612972.70
4     5   202208                                 Catheters 13313142.74
5     6   202208  Detection Sensor Interstitial Fluid/Gluc 12810018.10
6     7   202208                                  Edoxaban 11134728.50
7     8   202208                             Dapagliflozin 10963750.15
8     9   202208        Wound Management & Other Dressings 10731790.36
9    10   202208                                Budesonide 10586317.29

### 3º Query
- c. Quais são as precrições mais comuns?
- Como o desafio não especifica um limite, opto por uma amostra listando as 100 primeiras.

In [21]:
df_query3_sql = spark.sql("""
SELECT
    BNF_DESCRIPTION as Prescricao,
    sum(ITEMS) as Quantidade
FROM query
GROUP BY 1 
order by 2 desc
limit 100;
--Caso necessite uma amostra maior é só ajustar o limit
""")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [22]:
df_query3_sql.toPandas().to_csv('Warehouse/Mes_07/df_query3_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_08/df_query3_sql.csv')

                                     Prescricao  Quantidade
0     Omeprazole 20mg gastro-resistant capsules     2659334
1                     Atorvastatin 20mg tablets     2349300
2                        Amlodipine 5mg tablets     1748969
3   Lansoprazole 30mg gastro-resistant capsules     1633842
4                     Atorvastatin 40mg tablets     1309360
..                                          ...         ...
95                         Diazepam 2mg tablets      196878
96                      Candesartan 8mg tablets      192005
97     Mometasone 50micrograms/dose nasal spray      190200
98                      Docusate 100mg capsules      189553
99                    Sukkarto SR 500mg tablets      188136

[100 rows x 2 columns]

### 4º query
- d. Qual produto químico é mais prescrito por cada prescriber?

In [23]:
df_query4_sql = spark.sql("""
with test as(
    SELECT 
        PRACTICE_NAME as Prescriber,
        CHEMICAL_SUBSTANCE_BNF_DESCR as Substancia,
        sum(ITEMS) as Quantidade
    FROM query
    GROUP BY 1,2),
top1 as (
    select *,
    row_number() over (partition by prescriber order by Quantidade desc, Substancia ) as qtd
    from test)

select Prescriber,
       Substancia,
       Quantidade
from top1
where qtd = 1
order by prescriber, Quantidade desc;

""")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [24]:
df_query4_sql.toPandas().to_csv('Warehouse/Mes_07/df_query4_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_07/df_query4_sql.csv')

,Prescriber,Substancia,Quantidade
0,(FRACTURE CLINIC) NORTH OOH,Amoxicillin,353
1,(IRLAM) SALFORD CARE CTRS MEDICAL PRACTI,Atorvastatin,309
2,(OUT PATIENT DEPARTMENT) NORTH OOH,Morphine sulfate,3
3,0-19 EAST CHESHIRE HEALTH VISITORS,Emollients,3
4,0-19 PUBLIC HEALTH SERVICE HARTLEPOOL,Miconazole nitrate,2
...,...,...,...
8413,YOUR HEALTHCARE NON MED PRES,Wound Management & Other Dressings,140
8414,YOXALL,Atorvastatin,542
8415,ZAIN MEDICAL CENTRE,Metformin hydrochloride,139
8416,ZAMAN,Atorvastatin,382
8417,ZETLAND MEDICAL PRACTICE,Atorvastatin,1125

<a name="ir"></a>
### 5º Query
e. Quantos prescribers foram adicionados no ultimo mês? 

## Por ultilizar um metodo diferente, optei por deixar para o final...

<a name="voltar"></a>
### 6º query
- f. Quais prescribers atuam em mais de uma região? Ordene por quantidade de regiões antendidas.

- Aqui acrescentei qual seria a região mais atendida.
- Pode ser ajustado no 'where top = "n" ' para apresentar em sequencia qual seria a 2º,3º,etc.
- Retirei os UNIDENTIFIED DOCTORS, por se tratar de um dado impreciso e ser o que tinha o maior numero de regiões (8 ao total).

In [25]:
df_query6_sql = spark.sql(
    """with regiao as ( 
    SELECT
        PRACTICE_NAME as Prescribers,
        REGIONAL_OFFICE_NAME as Regiao_principal
    FROM query
    group by 1,2),
filtro as(
    select *,
    row_number() over (partition by Prescribers order by Regiao_principal) as Qtd_Regioes,
    rank() over (partition by Prescribers order by Regiao_principal desc) as top 
    from regiao)

select Prescribers,
       Regiao_principal,
       Qtd_Regioes
from filtro
where top = 1 and Qtd_Regioes >= 2 and Prescribers not in ('UNIDENTIFIED DOCTORS')
order by Qtd_Regioes desc, Prescribers;
""")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [26]:
df_query6_sql.toPandas().to_csv('Warehouse/Mes_07/df_query6_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_07/df_query6_sql.csv')

                 Prescribers          Regiao_principal  Qtd_Regioes
0            VILLAGE SURGERY                SOUTH WEST            7
1        HIGH STREET SURGERY                SOUTH EAST            6
2            CENTRAL SURGERY                NORTH WEST            5
3          RIVERSIDE SURGERY                SOUTH EAST            5
4     TRINITY MEDICAL CENTRE                SOUTH EAST            5
..                       ...                       ...          ...
213      WILLOW TREE SURGERY                    LONDON            2
214         WINDMILL SURGERY                  MIDLANDS            2
215  WOODLANDS HEALTH CENTRE                SOUTH EAST            2
216  WOODSIDE MEDICAL CENTRE                NORTH WEST            2
217        YORK ROAD SURGERY  NORTH EAST AND YORKSHIRE            2

[218 rows x 3 columns]

### 7º query
- g. Qual o preço médio dos químicos prescritos em no ultimo mês coletado?
- Aqui por ter sido um query mais simples, optei por acrescentar algumas informações extras como:
- Os custos são dados em Libras esterlinas (£)

1. Valor_Medio_liquido = Valor Com descontos totais 
2. Maior_valor = O maior valor encontrado do quimico
3. Menor_valor = O menor valor encontrado do quimico

In [27]:
df_query7_sql = spark.sql("""
SELECT 
    CHEMICAL_SUBSTANCE_BNF_DESCR as Substancia,
    round(avg(NIC),2) as Valor_Medio_bruto,
    round(avg(ACTUAL_COST),2) as Valor_Medio_liquido,
    round(max(ACTUAL_COST),2) as Maior_valor,
    round(min(ACTUAL_COST),2) as Menor_valor
FROM query
where CHEMICAL_SUBSTANCE_BNF_DESCR != ""
GROUP BY 1
order by 1,4 desc
""")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [28]:
# Exportando o resultado para um csv
df_query7_sql.toPandas().to_csv('Warehouse/Mes_07/df_query7_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_07/df_query7_sql.csv')

,Substancia,Valor_Medio_bruto,Valor_Medio_liquido,Maior_valor,Menor_valor
0,Abacavir and lamivudine,190.00,177.67,177.67,177.67
1,Abatacept,3628.80,3393.08,3393.08,3393.08
2,Abiraterone,1367.50,1278.78,1278.78,1278.78
3,Absorbent Cottons,9.48,8.87,46.95,0.78
4,Acamprosate calcium,40.09,37.68,1121.89,0.26
...,...,...,...,...,...
1413,Zonisamide,93.52,87.52,8906.05,0.69
1414,Zopiclone,3.61,3.78,207.79,0.03
1415,Zuclopenthixol acetate,116.21,108.77,108.77,108.77
1416,Zuclopenthixol decanoate,26.15,24.54,458.89,2.95
1417,Zuclopenthixol hydrochloride,19.15,17.93,249.11,2.94

### 8º query
- h. Gere uma tabela que contenha apenas a prescrição de maior valor de cada "usuário".
- P.s.: Aqui interpletei 
    > Usuario > Prescriber

In [29]:
df_query8_sql = spark.sql("""
with valor as(
    SELECT 
        PCO_NAME as Prescriber,
        CHEMICAL_SUBSTANCE_BNF_DESCR as Substancia,
        round(max(ACTUAL_COST),2) as Maior_valor
    FROM query
    GROUP BY 1,2),
top1 as (
    select *,
    row_number() over (partition by prescriber order by Maior_valor desc, Substancia ) as qtd
    from valor )

select Prescriber,
       Substancia,
       Maior_valor
from top1
where qtd = 1
order by prescriber, Maior_valor desc;
--order by Maior_valor desc, prescriber; só para reordenar por maior valor
""")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [30]:
df_query8_sql.toPandas().to_csv('Warehouse/Mes_07/df_query8_sql.csv', index=False)
pd.read_csv('Warehouse/Mes_07/df_query8_sql.csv')

,Prescriber,Substancia,Maior_valor
0,ABOUT HEALTH,Isotretinoin,3171.18
1,AIREDALE NHS FOUNDATION TRUST,Wound Management & Other Dressings,540.69
2,ASHFORD & ST PETER'S HOSPITALS NHS FOUND,Phenoxymethylpenicillin (Penicillin V),3.06
3,BERKSHIRE HEALTHCARE NHS FOUNDATION TRUS,Anal Irrigation System,5243.69
4,BIRMINGHAM COMMUNITY HEALTHCARE NHS FOUN,Melatonin,12598.70
...,...,...,...
303,WILTSHIRE HEALTH & CARE,Semaglutide,73.39
304,WIRRAL COMMUNITY HEALTH AND CARE NHS FOU,Sacubitril/valsartan,1798.11
305,"WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDA",Pentosan polysulfate sodium,1570.97
306,WYE VALLEY NHS TRUST,Wound Management & Other Dressings,752.43
307,YORK AND SCARBOROUGH TEACHING HOSPITALS,Lymphoedema Garments,1075.82

---
# Aqui indico verificar o notebook 'Rotina_mensal' para entender melhor o que foi informado a respeito da extração das amostras utilizadas aqui.
- [Abrir Rotina_mensal](Rodina_Mensal.ipynb)
---

<a name="query5"></a>
## Retomando a 5º Query
- e. Quantos Prescribers foram adicionados no ultimo mês?

### Com os arquivos já extraidos seguimos da seguinte formar:
- Criação de 2 DFs referentes a cada mês (agosto e junho)

In [31]:
df_amostra_ultimo = spark.read.csv(r'C:\Users\arthu\Desktop\EPD_202208-00.csv', sep = ',', inferSchema=True, header=True)
df_amostra_anterior = spark.read.csv(r'C:\Users\arthu\Desktop\EPD_202207-00.csv', sep = ',', inferSchema=True, header=True)

#### Filtro as colunas que julgo apenas necessarias:
- YEAR_MONTH
- PRACTICE_NAME

In [32]:
df_filtro_1 = df_amostra_anterior.select('YEAR_MONTH','PRACTICE_NAME')
df_filtro_2 = df_amostra_ultimo.select('YEAR_MONTH','PRACTICE_NAME')

#### Faço a união dos valores distindos de cada DF:
- Dessa forma serão unidos apenas os valores unicos referentes a cada mês.

In [33]:
add_no_mes = df_filtro_1.union(df_filtro_2).distinct()

#### Criando a View SQL para proxima consulta:

In [34]:
add_no_mes.createOrReplaceTempView("query_amostra")

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [35]:
add_no_mes.toPandas().to_csv('Warehouse/Mes_07/add_no_mes.csv', index=False)
add_no_mes = pd.read_csv(r'Warehouse/Mes_07/add_no_mes.csv')
add_no_mes

       YEAR_MONTH               PRACTICE_NAME
0          202207     WATERLOO MEDICAL CENTRE
1          202207       HELSBY STREET MED/CTR
2          202207  GTD HEALTHCARE CHORLEY OOH
3          202207       BLUNDELLSANDS SURGERY
4          202207                  HMP HEWELL
...           ...                         ...
15042      202208    NUTWOOD MEDICAL PRACTICE
15043      202208  WATERFOOT MEDICAL PRACTICE
15044      202208   ABBEY DALE MEDICAL CENTRE
15045      202208      ASPATRIA MEDICAL GROUP
15046      202208  THE MEDICAL CENTRE (IRFAN)

[15047 rows x 2 columns]

### E numa consulta simples de SQL retorno os prescribers adicionados no ultimo mês
- Lembrando que por se tratar apenas de uma amostra dos dados, temos o retorno apenas do **total dessa amostra**
- Aqui conto e seleciono os valor com **having count(PRACTICE_NAME) = 1** , pois o nome só se repetira 2x se estiver contido nos dois meses.
- **where YEAR_MONTH = 202208** não se torna necessario nesse caso, pois não tivemos prescribers no mes de julho que foram retirados no mês de agosto, pelo menos dentro dessa amostra.

In [36]:
df_add_no_mes_sql = spark.sql("""
SELECT PRACTICE_NAME as Prescribers, 
       count(PRACTICE_NAME) as Novo
FROM query_amostra
where YEAR_MONTH = 202208 -- Deixei comentado por poder ficar redundante a informação
group by PRACTICE_NAME
having count(PRACTICE_NAME) = 1
order by PRACTICE_NAME;
""")

#### Por ter encontrado problema como o 'case' na integração SQL > spark, optei por fazer apenas pelo spark.
- Aqui quis substituir a na linha o valor '1' por 'Sim'

In [37]:
df_add_no_mes_sql = df_add_no_mes_sql.withColumn("Novo", when(col("Novo") == "1","Sim")
      .otherwise("Nao"))

In [38]:
df_add_no_mes_sql.show()

+--------------------+----+
|         Prescribers|Novo|
+--------------------+----+
|(FRACTURE CLINIC)...| Sim|
|(IRLAM) SALFORD C...| Sim|
|       1 TO 1 CENTRE| Sim|
|1/MONTON MEDICAL ...| Sim|
|1/SALFORD MEDICAL...| Sim|
|      15 SEFTON ROAD| Sim|
|   168 MEDICAL GROUP| Sim|
|19 BEAUMONT STREE...| Sim|
|     240 WEXHAM ROAD| Sim|
|        27@NORTHGATE| Sim|
|        28@NORTHGATE| Sim|
|3/LOWER BROUGHTON...| Sim|
|3/SPRINGFIELD HOU...| Sim|
|301 EAST STREET S...| Sim|
|   3D MEDICAL CENTRE| Sim|
|    3VH RHEUMATOLOGY| Sim|
|           3W HEALTH| Sim|
|4 SEASONS MEDICAL...| Sim|
|         42 KINGSWAY| Sim|
|49 MARINE AVENUE ...| Sim|
+--------------------+----+
only showing top 20 rows

### Queria deixar mais apresentavel o resultado apenas com SQL, mas infelizmente o pyspark entrou em conflito por conta do 'case'
- Testei no **Google BigQuery** e funcionou normalmente.

In [39]:
'''df_add_no_mes_sql = spark.sql("""
SELECT PRACTICE_NAME as Prescribers,
       CASE
       WHEN count(PRACTICE_NAME) = 1 THEN 'sim'
       else 'Nao'
       end as Novo,
FROM query_amostra
group by Prescribers
having count(PRACTICE_NAME) = 1
order by 1;
""")'''

'df_add_no_mes_sql = spark.sql("""\nSELECT PRACTICE_NAME as Prescribers,\n       CASE\n       WHEN count(PRACTICE_NAME) = 1 THEN \'sim\'\n       else \'Nao\'\n       end as Novo,\nFROM query_amostra\ngroup by Prescribers\nhaving count(PRACTICE_NAME) = 1\norder by 1;\n""")'

### Exportando o resultado para um csv e conferindo a disponibilidade / armazenamento

In [40]:
df_add_no_mes_sql.toPandas().to_csv('Warehouse/Mes_07/df_add_no_mes_sql.csv', index=False)
df_add_no_mes_sql = pd.read_csv(r'Warehouse/Mes_07/df_add_no_mes_sql.csv')
df_add_no_mes_sql

                                   Prescribers Novo
0                  (FRACTURE CLINIC) NORTH OOH  Sim
1     (IRLAM) SALFORD CARE CTRS MEDICAL PRACTI  Sim
2                                1 TO 1 CENTRE  Sim
3                    1/MONTON MEDICAL PRACTICE  Sim
4                   1/SALFORD MEDICAL PRACTICE  Sim
...                                        ...  ...
7518              YOUR HEALTHCARE NON MED PRES  Sim
7519                                    YOXALL  Sim
7520                       ZAIN MEDICAL CENTRE  Sim
7521                                     ZAMAN  Sim
7522                  ZETLAND MEDICAL PRACTICE  Sim

[7523 rows x 2 columns]

---
# Aqui finalizo o segundo notebook com meu projeto do desafio!
#### Obrigado!